.user-profile {
    display: flex;
    justify-content: flex-start; /* Aligns everything to the left */
    align-items: flex-start;
    padding: 20px;
  }
  
  .avatar-section {
    max-width: 1200px;
    margin:  auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    align-items: flex-start; /* Aligns items to the left */
  }
  
  .img-box-profile img {
    width: 150px!important; 
    height: 150px!important;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
  }
  
  .img-box-profile {
    max-height: 400px!important; 
    max-width: 400px!important;
  }
  
  .user-data p {
    font-size: 1.2em; /* Increases the font size for user data */
    margin: 5px 0;
  }
  
  /* Custom file input style */
  .custom-file-input-wrapper {
    border: 1px solid #ccc;
    border-radius: 5px;
    display: inline-block;
    margin-top: 10px;
    padding: 20px;
  }
  
  .custom-file-input {
    display: none; /* Hide the default file input */
  }
  
  .custom-file-input-label {
    padding: 10px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f8f9fa;
    color: #333;
    display: inline-block;
  }
  
  .custom-file-input-label:hover {
    background-color: #e2e6ea;
  }
  
  .button-container {
    display: flex;
    gap: 10px; /* Adds space between buttons */
    margin-top: 10px;
  }
  
  .button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
  }
 
  h2 {
    margin-bottom: 20px;
  }
  