.option-checkbox {
  display: none; /* Скрываем сам чекбокс */
}

.option-checkbox + label {
  display: inline-block;
  cursor: pointer;
  padding-left: 20px; /* Расстояние между галочкой и текстом */
  position: relative;
}

.option-checkbox + label:before {
  content: '';
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 2px solid #333; /* Цвет рамки галочки */
  border-radius: 3px;
  position: absolute;
  left: 0;
  top: 1px;
}

.option-checkbox:checked + label:before {
  content: '\2714'; /* Устанавливаем галочку (✓) */
  font-size: 14px; /* Размер шрифта галочки */
  line-height: 14px; /* Высота строки галочки */
  text-align: center;
}
